body{
  overflow: hidden;
    background: linear-gradient(90deg, #000000, #00522f);
    
}









.container-div{
  padding: 230px 40px;
  
  width: 80%;
  background-color: #fff;
  border-radius: 20px;
  margin-left: 130px;
  margin-top: 100px;
  

}


.img{
  max-width: 10%;
  margin-left: 45px;
  
  border-radius: 20px;
  box-shadow:0 0 6ch #000000;
  margin-top: -100px;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  cursor: pointer;
  
}
.img:hover{
   transform:scale(1.3);
   box-shadow: 0 0 100px #134c27;

}

.bone1-p{
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-left: 830px;
  margin-top: -40px;
  width: 90%;
  display: flex;
}

.desc{
  
  
  border-radius: 20px;
  text-align: center;
  padding: 3px 5px;
  max-width: 500px;
  height: 90px;
  
  

}

#desc1{
  

}

.desc-li{
  color: #d8df5b;
  
  
  
}

.form{
  margin-top: -100px;
  color: #fff;
  
  border-radius: 20px;
  
  
  
  
}

.div-color{
  background: linear-gradient(90deg, black, #134c27);
  border-radius: 10px;
  max-width: 400px;
  margin-left: -40px;
  padding: 10px;
  box-shadow: 0 0 30px #000000;
  padding: 10px 20px;

   
}

.titulo{
  color: #ffffff;
  
  
  margin-top: -380px;
  margin-left: 340px;
  font-size: 30px;
  display: flex;
  text-shadow: 0 0 5px #ffffff;
  
  
}

.div-position{
  margin-top: -320px;
  margin-left: -340px;
  gap: 80px;
  display: flex;

}

li{
  list-style: none;
  padding: 0px;
  margin: 0px;

}
.botao-comprar{
  max-width: 1000px;
  cursor: pointer;
  font-size: 30px;
  border: none;
  border-radius: 20px;
  width: 20%;
  color: #fff;
  background-color: #134c27;
  margin-left: 1000px;
  margin-top: -120px;
  justify-content: center;
  display: flex;
  

  transition: transform 0.5s ease, box-shadow 0.2s ease;
}

.botao-comprar:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px #fff;
}

.arrow{
  background: none;
  border-radius: 100%;
  color: #fff;
  border: none;
  padding: 10px 10px;
  cursor: pointer;

}

.arrow-div{
  display: flex;
  margin-top: 20px;
  margin-left: 20px;

}

.voltar{
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}


@media (max-width: 600px){
  body{
  overflow-x: hidden;
  overflow-y: scroll;
    background: linear-gradient(90deg, #000000, #00522f);
    
}





.titulo{
  margin-left: 23px;
  font-size: 20px;
  margin-top: -320px;
  color: #ffffff;
  text-shadow: 0 0 20px #ffffff;
}

.container-div{
  padding: 660px 45px;
  background-color: #000000;
margin-left: -13px;
margin-top: -67px;
border-radius: 0px;

}
.bone1-p{
  margin-left: -360px;
  margin-top: -50px;

}
.bone1-p{
 
}

.img{
  display: flex;
  max-width: 60%;
  height: 10%;
  margin-left: 60px;
  margin-top: -470px;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
 
}

.img:hover{
   transform:scale(1.3);
   box-shadow: 0 0 100px #134c27;

}
#descricao{
  width: 200px;
  
}

#div-preco{
  
  margin-top: -225px;
  
  
}

#div-origem{
 margin-top: 80px;
}

.div-position{
  display: flex;
  
  padding: 10px 10px;
  flex-direction: column;
margin-left: 445px;
margin-top: -800px;
  gap: 250px;
}

.div-color{
  border-radius: 20px;
   border: solid 5px #fff;
}


.form{

 
}

.botao-comprar{
  display: flex;
  font-size: 18px;
  padding: 5px 90px;
  margin-left: 95px;
  margin-top: -50px;
  transition: transform 0.5s ease;
  box-shadow: 0 0 15px #00522f;
}
.botao-comprar:hover {

transform: scale(1.1);
}
}