body{
  overflow: hidden;
    background: linear-gradient(90deg, #000000, #00522f);
    
}









.container-div{
  padding: 230px 40px;
  
  width: 80%;
  background-color: #fff;
  border-radius: 20px;
  margin-left: 130px;
  margin-top: 100px;
  

}


.img{
  max-width: 10%;
  margin-left: 45px;
  
  border-radius: 20px;
  box-shadow:0 0 6ch #000000;
  margin-top: -100px;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  cursor: pointer;
  
}
.img:hover{
   transform:scale(1.3);
   box-shadow: 0 0 100px #134c27;

}

.bone1-p{
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-left: 830px;
  margin-top: -40px;
  width: 90%;
  display: flex;
}

.desc{
  
  
  border-radius: 20px;
  text-align: center;
  padding: 3px 5px;
  max-width: 500px;
  height: 90px;
  
  

}

#desc1{
  

}

.desc-li{
  color: #d8df5b;
  
  
  
}

.form{
  margin-top: -100px;
  color: #fff;
  
  border-radius: 20px;
  
  
  
  
}

.div-color{
  background: linear-gradient(90deg, black, #134c27);
  border-radius: 10px;
  max-width: 400px;
  margin-left: -40px;
  padding: 10px;
  box-shadow: 0 0 30px #000000;
  padding: 10px 20px;

   
}

.titulo{
  color: #ffffff;
  
  text-align: center;
  margin-top: -380px;
  margin-left: 440px;
  font-size: 30px;
  display: flex;
  text-shadow: 0 0 5px #ffffff;
  
  
}

.div-position{
  margin-top: -320px;
  margin-left: -340px;
  gap: 80px;
  display: flex;

}

li{
  list-style: none;
  padding: 0px;
  margin: 0px;

}
.botao-comprar{
  max-width: 1000px;
  cursor: pointer;
  font-size: 30px;
  border: none;
  border-radius: 20px;
  width: 20%;
  color: #fff;
  background-color: #134c27;
  margin-left: 1000px;
  margin-top: -120px;
  justify-content: center;
  display: flex;
  

  transition: transform 0.5s ease, box-shadow 0.2s ease;
}

.botao-comprar:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px #fff;
}

.arrow{
  background: none;
  border-radius: 100%;
  color: #fff;
  border: none;
  padding: 10px 10px;
  cursor: pointer;

}

.arrow-div{
  display: flex;
  margin-top: 20px;
  margin-left: 20px;

}

.voltar{
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}


@media (max-width: 600px){
  body{
  overflow: scroll;
    background: linear-gradient(90deg, #000000, #00522f);
    
}

.voltar{
  display: flex;
  margin-top: 0vw;
  margin-left: 50vw;
}

.titulo{
  margin-left: -80vw;
  width: 4%;
  color: #000000;
}

.container-div{
  padding: 260vw 10vw;
  display: flex;
  margin-left: -2vw;
}

.img{
  max-width: 10%;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  
}

.img:hover{
   transform:scale(1.3);
   box-shadow: 0 0 100px #134c27;

}



.div-position{
  display: flex;
  padding: 10px 10px;
  flex-direction: column;
  margin-top: -200vw;
  margin-left: -230vw;
  gap: 50vw;
}

.form{

 
}

.botao-comprar{
  display: flex;
  margin-top: -00vw;
  margin-left: 35vw
}
}