body{
    overflow: hidden;
    background: linear-gradient(90deg, #000000, #00522f);
}


.compra{
   
    color: #0a0a0a;
    background-color: #fff;
    padding: 10px 10px;
    width: 25%;
    margin-top: 30px;
    margin-left: 400px;
    border-radius: 20px;

}

.voltar{
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}