body{
    overflow: hidden;
    background: linear-gradient(90deg, #000000, #00522f);
}


.conta{
    color: #000000;
    background-color: #fff;
    width: 20%;
    border-radius: 20px;
    margin-left: 80px;
    margin-top: 50px;
    padding: 20px 20px;
}

.voltar{
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}