body{
    overflow: scroll;
    background: linear-gradient(90deg, #000000, #00522f);
}




.voltar{
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.mensage{
    color: #0a0a0a;
    background-color: #fff;
    padding: 200px 100px;
    width: 25%;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 20px;
}

.titulos{
    margin-top: -150px;
}

.p-conta{
    width: 200px;
    margin-left: -30px;
}