body{
    background: linear-gradient(90deg, #000000, #00522f);
    overflow: hidden;
}

/* Fonte Montserrat */
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* pode ser 100 até 900 */
  font-style: normal;
}

/* Fonte Orbitron */
.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600; /* pode ser 400 até 900 */
  font-style: normal;
}

.titulo{
    display: flex;
    
    color: #fff;
    border-color: #fff;
    font-family: "Montserrat", sans-serif;
    text-shadow:0 0 2px #fff ;
    margin-left: 30px;
}

.img{
    margin-left: 887px;
    margin-top: -90px;
    opacity: 90%;
    border-radius: 45px;
    cursor: pointer;
    transition: transform 0.5s ease;
    width: 5%;
    
    
}

.img:hover{
  transform: scale(1.1);
}

.title{
  color: #fff;
  text-shadow:0 0 20px #fff ;
  font-size: 27px;
  margin-left: 700px;
  margin-top: -54px;
}


.rodape{
  display: flex;
  color: #fff;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-shadow:0 0 20px #fff ;
  margin-top: -190px;
}

.footer{
  margin-top: 190px;
  background: linear-gradient(90deg, black, #00522f);
  border-radius: 10px;
}

.navs{
  display: flex;
  gap: 20px;
  margin-top: -80px;
  margin-left: 1200px;
}

.nav-produto{
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease;
}

.nav-produto::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 0;
  height: 2px;
  background-color: #01ad62;
  transition: width 0.4s ease;
}

.nav-produto:hover::after {
  width: 100%;
}

.nav-produto:hover {
  transform: translateY(-2px);
}

.nav-contato{
  color: #fff;
  cursor: pointer;
  border-color: #000000;
  transition: all 0.4s ease;
}

.nav-contato::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 0;
  height: 2px;
  background-color: #01ad62;
  transition: width 0.4s ease;
}

.nav-contato:hover::after {
  width: 100%;
}

.nav-contato:hover {
  transform: translateY(-2px);
}

.produto-p{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.contato-p{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.nav-a{
  color: #fff;
  text-decoration: none;
}




.carrossel{
  position: relative;
  width: 70%;
  
  margin: 60px auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
  
  
  
}

.div-bone{
  display: flex;
  
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: transform 0.5s ease;
  height: 600px;


}

.bone{
  position: absolute;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.6s ease;
  text-align: center;

  

}

.bone.active{
  transition: transform 0.15s ease;
  z-index: 10;
  
}

.bone.active:hover{
  transform: scale(1.1);
  z-index: 2;

}

.bone img{
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 0px 10px #000000;
  

}

.bone.active{
  opacity: 1;
  transform: scale(1);
  z-index: 3;
}

.bone.left{
  opacity: 0.2;
  transform: translateX(-189px) scale(0.8);
  z-index: 2;
}

.bone.right{
  opacity: 0.2;
  transform: translateX(180px) scale(0.8);
  z-index: 2;
}

.div-arrow{
  cursor: pointer;
  color: #fff;
  align-items: auto;
  z-index: 5;
  transition: background 0.3s, box-shadow 0.2s;
  user-select: none;
  margin: 100px;
  border-radius: 50%;
  height: 40px;
  margin-top: 20px;
  
}

.div-arrow:hover{
  transform: scale3d(0.1);
  background-color: #01ad62;
  box-shadow: #fff;
  
  font-style: none;
}

.div-button{
  border: none;
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(25, 25, 67);
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: box-shadow 0.3s;
}

.div-button:hover{
  box-shadow: 0 0 10px #fffefe ;
}

.div-conferir{
  color: #fff;
  font-family: "Montserrat", sans-serif;
}


.config{
  
  cursor: pointer;
  color: #fff;
display: inline;
margin-top: 1px;
margin-left: 90px;
  
  
}



.link-insta {
  font-size: 0;           
   
  text-decoration: none; 
  
 
}








#config {
  position: relative;
  top: 15px;
  
  margin-left: -1px;
  margin-top: -10px;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
  
  
}

.aba-config {
  position: fixed;

  top: 0;
  right: -400px; /
  width: 0px;
  height: 70%;
  background-color: #251c45 ;
  box-shadow: 0 0  40px rgb(0, 0, 0);
  
  transition: right 0.4s;
  border-radius: 20px;
  z-index: 99999;
}

.aba-config.ativo {
  right: 0; /* aparece */
  
}

.dark-mode {
  background: #222;
  color: rgb(0, 0, 0);
}

label {
  display: block;
  margin: 15px 0;
}

.fechar{
  padding: 10px 10px;
  border-radius: 20px;
  align-items: center;
  background-color: #f4f4f4;
  margin-top: 20px;
  margin-left: 115px;
  color: #000000;
  cursor: pointer;
  border: none;
  box-shadow:0 0 20px #151515;

  transition: transform 1s , color  0.1s ease;
}

.fechar:hover {
      transform: rotateZ(360deg);
      color: #9c8a75;
}

.element-aba button{
  display: flex;
  
  height: 30px;

}

.conta{
  border-radius: 50%;
  border: none;
  align-items: center;
  box-shadow: 0 0 10px #01ad62;
  margin-left: 120px;
  margin-top: 10px;
  cursor: pointer;
  padding: 30px 20px;
  transition: transform 0.3s, color 0.3s ease ;
}

.conta:hover{
  transform: scale(1.3);
  color: #9c8a75;
}

.historico{
  border-radius: 20px;
  align-items: center;
  
  border: none;
  box-shadow: 0 0 20px #01ad62;
  margin-left: 115px;
  margin-top: 20px;
  cursor: pointer;
  
  
}

.mensage{
    border-radius: 20px;
  align-items: center;
  border: none;
  box-shadow: 0 0 20px #01ad62;
  margin-left: 100px;
  margin-top: 50px;
  cursor: pointer;
  position: relative;
  
}


.svgm{
  margin-left: 5px;
  background-color: #f7f7f7a5;
  fill: #cec632;
  
}


.compras{
    border-radius: 20px;
  align-items: center;
  border: none;
  box-shadow: 0 0 20px #01ad62;
  margin-left: 91px;
  margin-top: 50px;
  cursor: pointer;
}


.modo-escuro{
  margin-top: 30px;
  margin-left: 100px;
  
  
}
input[type="checkbox"] {
  transform: scale(1.3); 
  accent-color: #343435;
  cursor: pointer;
  
}
hr{
  background-color: #10100f;
  border-radius: 20px;
  width: 290px;
  margin-left: 2px;
  height: 2px;
  margin-top: 40px;
  box-shadow: 0 0 2px #01ad62;
}

.meio-aba{
  background-color: #ffffff;
  max-width:130%;
  
 box-shadow: 0 0 10px #01ad62;
  
  margin-left: -0.2px;
  border-radius: 4px;
  margin-top: -20px;
  height: 330px ;
  

  
}




.hr2{
  margin-left: 2px;
  margin-top: 50px;
}





